body {
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f3ff;
}

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.titleContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px 75px 100px;
    margin-top: 5%;
    height: 50vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background: #fffdf6;
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

.subtitle{
  font-size: 25px;
  padding-top: 25px;
  padding-bottom: 40px;
}

.shape {
  position: absolute;
  animation: translate 5s infinite;
}

.shape.circle {
  background-color: #ffea00;
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  bottom: 40px;
  left: -50px;
  animation-timing-function: ease-in-out;
}

.shape.rectangle {
  width: 10vh;
  height: 10vh;
  background-color: #ff6d00;
  right: 8px;
  animation-timing-function: ease-in-out;
  border-radius: 5px;
}

@keyframes translate {
  50% {
    transform: translateY(2vh);
  } 
}