* {
    box-sizing: border-box;
    text-decoration: none;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 32px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.logo {
    max-width: 80px;
    height: auto;
    object-fit: contain;
    margin:  10px 0px 10px 10px;

}

.nav {
    background-color: #1c1c1c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 100;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: large;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.nav li a {
    text-decoration: none;
    color: white;
}

.nav li a:hover {
    color: #12a1de;
}